@import "~@angular/material/theming";
@import "~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss";
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700,800&display=swap");

$custom-typography: mat-typography-config(
  $font-family: '"Muli", sans-serif;',
);
@include mat-core($custom-typography);

$color-microadmin: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$color-microadmin-accent: (
  50: #f9f3e1,
  100: #f1e2b3,
  200: #e8cf81,
  300: #debb4f,
  400: #d7ad29,
  500: #d09e03,
  600: #cb9603,
  700: #c48c02,
  800: #be8202,
  900: #b37001,
  A100: #fff0dc,
  A200: #ffdaa9,
  A400: #ffc576,
  A700: #ffba5d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$color-microadmin-warning: (
  50: #fee3e3,
  100: #fcb9b9,
  200: #fa8b8b,
  300: #f75c5c,
  400: #f63939,
  500: #f41616,
  600: #f31313,
  700: #f11010,
  800: #ef0c0c,
  900: #ec0606,
  A100: #ffffff,
  A200: #ffe1e1,
  A400: #ffaeae,
  A700: #ff9494,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$microadmin-app-primary: mat-palette($color-microadmin);
$microadmin-app-accent: mat-palette($color-microadmin-accent);

// The warn palette is optional (defaults to red).
$microadmin-app-warn: mat-palette($color-microadmin-warning);

// Create the theme object (a Sass map containing all of the palettes).
$microadmin-app-theme: mat-light-theme(
  $microadmin-app-primary,
  $microadmin-app-accent,
  $microadmin-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat-datetimepicker-theme($microadmin-app-theme);
@include angular-material-theme($microadmin-app-theme);
