<mat-toolbar class="module-toolbar" role="heading">
    <mat-toolbar-row class="toolbar">
        <mat-icon class="icon">group</mat-icon>
        <span>Inventarios</span>
        <span class="filler"></span>
        <button mat-flat-button color="warn" aria-labelledby="Nuevo cliente" (click)="initialStock()">
            Inventario inicial
        </button>
        <button mat-flat-button color="warn" aria-labelledby="Nuevo cliente" (click)="initialStock()">
            Ajuste de inventario
        </button>
        <button mat-icon-button class="search-button" aria-labelledby="Busqueda" (click)="toggleSearchBar()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="search-bar" [ngClass]="{'showed-search-bar': !filter.hidden}">
        <mat-icon class="search-icon">search</mat-icon>
        <mat-form-field class="input-full-width searchable-input" appearance="none" [hideRequiredMarker]="false"
            [floatLabel]="'never'">
            <input matInput placeholder="Codigo de producto" [(ngModel)]="filter.entity.product.barcode">
        </mat-form-field>
        <button mat-icon-button class="search-button" aria-labelledby="Busqueda" (click)="setFilter()">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button aria-labelledby="Cerrar la busqueda" (click)="toggleSearchBar()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="card-table">
    <mat-card-content class="card-table-content">
        
    </mat-card-content>
</mat-card>