<h2 mat-dialog-title>Datos de cliente</h2>
<mat-dialog-content class="sep-bottom-20">
    <form [formGroup]="form" novalidate>
        <form [formGroup]="generalDataForm" novalidate>
            <div class="row">
                <div class="col">
                    <mat-form-field class="input-full-width">
                        <input matInput placeholder="Nombre/Razon social" formControlName="business_name" required>
                        <mat-error>
                            <custom-mat-error [control]="generalDataForm.controls.business_name"></custom-mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="input-full-width">
                        <input matInput placeholder="R.F.C." formControlName="tax_id" required>
                        <mat-error>
                            <custom-mat-error [control]="generalDataForm.controls.tax_id"></custom-mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="input-full-width">
                        <input matInput placeholder="Contacto" formControlName="contact" required>
                        <mat-error>
                            <custom-mat-error [control]="generalDataForm.controls.contact"></custom-mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="input-full-width">
                        <input matInput placeholder="Teléfono" formControlName="telephone" required>
                        <mat-error>
                            <custom-mat-error [control]="generalDataForm.controls.telephone"></custom-mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="input-full-width">
                        <input matInput placeholder="Correo electronico" formControlName="email" required>
                        <mat-error>
                            <custom-mat-error [control]="generalDataForm.controls.email"></custom-mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <h3 mat-dialog-title>Dirección</h3>
        <form [formGroup]="addressForm" novalidate>
            <div class="row">
                <div class="col">
                    <mat-form-field class="input-full-width">
                        <input matInput placeholder="Calle" formControlName="street" required>
                        <mat-error>
                            <custom-mat-error [control]="addressForm.controls.street"></custom-mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="box col">
                    <div class="col">
                        <mat-form-field class="input-full-width">
                            <input matInput placeholder="Numero exterior" formControlName="external_number" required>
                            <mat-error>
                                <custom-mat-error [control]="addressForm.controls.external_number"></custom-mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="input-full-width">
                            <input matInput placeholder="Numero interior" formControlName="internal_number">
                            <mat-error>
                                <custom-mat-error [control]="addressForm.controls.internal_number"></custom-mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="input-full-width">
                        <input matInput placeholder="Colonia" formControlName="settlement" required>
                        <mat-error>
                            <custom-mat-error [control]="addressForm.controls.settlement"></custom-mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="input-full-width">
                        <input matInput placeholder="Ciudad" formControlName="city" required>
                        <mat-error>
                            <custom-mat-error [control]="addressForm.controls.city"></custom-mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="input-full-width">
                        <input matInput placeholder="Municipio" formControlName="county" required>
                        <mat-error>
                            <custom-mat-error [control]="addressForm.controls.county"></custom-mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="input-full-width">
                        <mat-select matNativeControl formControlName="state" placeholder="Estado" [compareWith]="compare" required>
                            <mat-option *ngFor="let state of states" [value]="state">{{ state.name }}</mat-option>
                        </mat-select>
                        <mat-error>
                            <custom-mat-error [control]="addressForm.controls.state"></custom-mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="input-full-width">
                        <input matInput placeholder="Codigo postal" formControlName="postal_code" required>
                        <mat-error>
                            <custom-mat-error [control]="addressForm.controls.postal_code"></custom-mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="input-full-width">
                        <mat-select matNativeControl placeholder="Pais" formControlName="country" [compareWith]="compare" required>
                            <mat-option *ngFor="let country of countries" [value]="country">{{ country.name }}</mat-option>
                        </mat-select>
                        <mat-error>
                            <custom-mat-error [control]="addressForm.controls.country"></custom-mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button class="sep-right-10" (click)="close()">Cancelar</button>
    <button mat-flat-button color="accent" [disabled]="form.invalid" (click)="save()">Guardar</button>
</mat-dialog-actions>