<div class="navigation-container">
  <mat-toolbar color="primary">
    <button type="button" class="toggle-button" aria-label="Mostrar menú" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Menu principal">menu</mat-icon>
    </button>
    <!--mat-icon class="logo" color="accent" svgIcon="logo"></mat-icon-->
    <span class="title"><strong>AY</strong>AMALIA <!--TPV 2021--></span>
    <div class="filler"></div>
    <!--button mat-icon-button aria-labelledby="Verificador de precios" (click)="priceVerifier()">
      <mat-icon>local_atm</mat-icon>
    </button>
    <button mat-icon-button aria-labelledby="Mostrar el teclado" (click)="activateKeyboard()">
      <mat-icon>{{keyboard}}</mat-icon>
    </button>
    <button mat-icon-button aria-labelledby="Ir al dashboard" (click)="goto('/modules/dashboard')">
      <mat-icon>dashboard</mat-icon>
    </button-->
    <button mat-icon-button aria-labelledby="Salir de la aplicación" (click)="goto('logout')">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [hasBackdrop]="(isHandset$ | async)">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'push'" [opened]="false">
      <mat-nav-list>
        <div class="profile">
          <div class="name">
            <span>{{ session.user.name}}</span>
          </div>
        </div>
        <!--mat-list-item routerLink="#"><mat-icon>check_box</mat-icon>General</!--mat-list-item>
            <mat-list-item routerLink="#"><mat-icon>person</mat-icon>Profile</mat-list-item>
            <mat-list-item-- routerLink="#"><mat-icon>notification_important</mat-icon>Notification</mat-list-item-->
        <modules-panel-menu (onNavigate)="onNavigate()"></modules-panel-menu>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

